.container--0- {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 789px;
    height: 482px;
    background-color: #ececff;
    justify-content: start;
    align-items: start;
  }
  .text-0-1-1 {
    width: 106px;
    height: 23px;
    color: #ffffff;
    font-size: 20px;
    font-family: Josefin Sans, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-2 {
    width: 182px;
    height: 24px;
    opacity: 1;
    color: #ffffff;
    font-size: 20px;
    font-family: Josefin Sans, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-3 {
    width: 168px;
    height: 21px;
    opacity: 1;
    color: #ffffff;
    font-size: 20px;
    font-family: Josefin Sans, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-1-2-0 {
    position: absolute;
    left: 53px;
    top: 364px;
    width: 683px;
    height: 33px;
    color: #000000;
    font-size: 22px;
    font-family: Josefin Sans, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-1-2-1 {
    position: absolute;
    left: 660px;
    top: 26px;
    width: 100px;
    height: 12px;
    color: #000000;
    font-size: 17px;
    font-family: Josefin Sans, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-8 {
    width: 174px;
    height: 62px;
    color: #000000;
    font-size: 70px;
    font-family: Josefin Sans, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-9 {
    width: 93px;
    height: 21px;
    color: #000000;
    font-size: 22px;
    font-family: Josefin Sans, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-1-2-2 {
    position: absolute;
    left: 380px;
    top: 362px;
    width: 81px;
    height: 30px;
    color: #fe0000;
    font-size: 26px;
    font-family: Josefin Sans, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }
  .text-1-2-3 {
    position: absolute;
    left: 481px;
    top: 362px;
    width: 13px;
    height: 26px;
    color: #05c328;
    font-size: 26px;
    font-family: Josefin Sans, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-12 {
    width: 14px;
    height: 13px;
    color: #ffffff;
    font-size: 11px;
    font-family: Josefin Sans, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-13 {
    width: 479px;
    height: 25px;
    color: #000000;
    font-size: 34px;
    font-family: Josefin Sans, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }